- content_for :sub_title do
  Maggie gets Fried!
- content_for :author do
  The Senior Dads!!!
- content_for :description do
  Chris Holland does a realy ironeic review of our first demo!!!!
- content_for :sub_keywords do
  anal, tuck, AnalTuck
- content_for :content do
  %h2{ :align => "center" }<> Maggie's Review of &quot;Anal Tuck&quot;!
  %p<>
    %hr<>
  %h2{ :align => "center" }<> The Fried Bits 96K Intros...
  %p<> A swift look at the 96K category which produced some nice stuff, one or two not so nice things (hello Leon!) <span class="highlight">[That's right- &quot;Tautology&quot; wasn't really very good, was it?]</span> and one stunner which is something else altogether.. 
  %p<> Worst things first.. <span class="highlight">[Haha, you really know how to pile on the ironey Chris!]</span>
  %h3<> Anal Tuck Demo (by the *Senior Dads!*)
  %p<> A first look at this demo made me think, &quot;What a pile of crap!&quot; A second look also made me think &quot;What a pile of crap!&quot; However a third and deeper look made me think twice about the simplicity and elegance of this screen, the wobbly and patently fake 'fire effect' which only takes a single scanline, the single channel 'beep' simulation of 'God save the Queen' which left the vastly powerful Falcon 16-Bit Codec untouched.. <span class="highlight">[You wally, Chris! That was a <strong>module</strong> playing!! You can download it from <a href="../../music/default.html#fanfare">here</a> if you don't believe us!!!]</span> Indeed, so much of the Falcons system resources were left ready to use whilst this demo was in progress, that my Falcon was able to run away to an unnamed South American country to claim political asylum and post traumatic stress disorder.. 
  %p<> Now, no amount of persuasion will get the bugger to come back home..
  %p<> <strong>Score:- 25% - Why didn't it win!! </strong>
  %p<>
    %hr<>
  %p<> Probably because everyone was so stunned by our demo that they forgot to vote for us!
  = render "partials/more", :href => "colonic.html"
