- content_for :sub_title do
  dA //mAgG13// fAn s1T3 0n tH3 w3!!!!1!!//
- content_for :author do
  The Senior Dads!!!
- content_for :description do
  How Maggie views us!!!!
- content_for :content do
  %div{ :align => "center" }<>
    %p<> NOTE- this is an unofficial <strong>Maggie</strong> fan page- the official ones are available from <a href="../../../computers/crews/atari.html#MaggieDiskmag">here</a>.
    %table<>
      %tr<>
        %td{ :align => "center", :valign => "top"}<>
          %img{ :src => "../../images/features/saggie/saggie.gif", :alt => "sAgG13!!!11!", :alt => "sAgG13!!!11!", :height => "233", :width => "318"}<>
        %td{ :align => "left", :valign => "top"}<>
          %h1{ :align => "center" }<> tH3 <a href="../../default.html">s3N10r dAdz</a> mAgG13 fAn pAg3 0n tHa w3!!!1!!1
          %p<> <strong>Maggie</strong> is a long running diskmag on the Atari scene. We like Maggie. They might make up up quotes from us and make zillions of mistakes, but we like them because they give us nice reviews!!! And they're a nice magazine anyway with a good history in the Atari scene. 
  %h2<> wHaT hAs mAgG13 sA1d aB0uT uSz?!?21?1?2!!
  %ul<>
    %li<> <a href="atuck.html">Review of &quot;Anal Tuck&quot;</a> - Chris is being very ironic here obviously!!
    %li<> <a href="colonic.html">Review of &quot;Colonic Irrigation&quot;</a>- No, it's not reviewed by us!
    %li<> <a href="airdirt_maggie.html">Review of &quot;Airdirt&quot;</a> - Wow! The review is as almost as good as the demo!
    %li<> <a href="airdirt_poom.html">Rumour about &quot;Poom&quot; screen in &quot;Airdirt&quot;</a> -Warning!&nbsp;This is a load of rubbish!
    %li<> <a href="floormat.html">Review of &quot;ST Floormat&quot;</a> - Mucho errors here, but nice review!
