- require "#{File.dirname(__FILE__)}/../code/SiteTasks"
!!!
%html<>
  %head<>
    %title<> s3N10r DaDz d0XX11!!1
    %meta{ :name => "Author", :content => "The Senior Dads!!!!"}<>
    %meta{ :name => "Description", :content => "Features!!! We don't need to tell you how good that is! But we will anyway!!!"}<>
    %meta{ :name => "KeyWords", :content => "Senior, Dads, demo, scene, demoscene, Atari, excellent, brilliant, elite, features, dox"}<>
    =render_partial :header_files
  %body#features<>
    =render_partial :no_javascript
    .lastUpdated<>
    =render_partial :sub_header, :rootUrl => "../default.html", :sectionTitle => "d0XX11!!1!", :sectionUrl => "."
    #doxListContainer<>
      #doxList<>
        .item<>
          .logo<>
            %a(href="citizen/default.html")<>
              %img( src="citizen/graphics/logo.gif" alt="s3N10r c1T1z3N!!11!1!" title="s3N10r c1T1z3N!!11!1!" width="298")<>
          .text<>
            aLl tH3 lAt3St <a href="citizen/default.html">sT0r13ZzZz</a>!!1!!!1
          .urlLastUpdated{ :rel => "citizen/default.html" }<>
        .item<>
          .logo<>
            %a(href="knut/default.html")<>
              %img( src="../images/features/knut/title.jpg" alt="k1Ll3R nUt!!11!1!" title="k1Ll3R nUt!!11!1!" width="298")<>
          .text<>
            m3Ga k3Wl n00 <a href="knut/default.html">sT0rY</a> bY3 uZzZ!!1!!!1
          .urlLastUpdated{ :rel => "knut/default.html" }<>
        .item<>
          .logo<>
            %a(href="netbest/default.html")<>
              %img( src="../images/features/netbest/netbest_logo.gif" alt="n3Tb3St!!11!1!" title="n3Tb3St!!11!1!" width="329" height="220")<>
          .text<>
            tHa b3St <a href="netbest/default.html">s33N10r s1T3z</a> 0n tHa w3!! 1
          .urlLastUpdated{ :rel => "netbest/default.html"}<>
        .item<>
          .logo<>
            %a(href="saggie/default.html")<>
              %img( src="../images/features/saggie/saggie.gif" alt="sAgG13!!1!!1!" title="sAgG13!!1!!1!" width="318" height="233")<>
          .text<>
            wHaT <a href="saggie/default.html">//mAgG13// d1SkMaGg</a> s3Z aB0uT uSs!!1!!1 !
          .urlLastUpdated{ :rel => "saggie/default.html" }<>
        .item<>
          .logo<>
            %a(href="presstrail/default.html")<>
              %img( src="../images/features/presstrail/ptrail_main.gif" alt="pR3sS tRa1L!!1!!1" title="pR3sS tRa1L!!1!!1" width="320" height="200")<>
          .text<>
            w0T 0tH3rZ <a href="presstrail/default.html">tH1nK</a> 0F uS!!!1&nbsp; !
          .urlLastUpdated{ :rel => "presstrail/default.html" }<>
        -#
          .item<>
            .logo<>
              %a(href="scribble/default.html")<>
                %img( src="../images/features/presstrail/ptrail_main.gif" alt="s3N10r sCr1Bl3R!!11!!" title="s3N10r sCr1Bl3R!!11!!")<>
            .text<>
              <a href="scribble/default.html">dRaW</a> l1K3 uZz!!!!1 0nLy n0T aS g00D!!1!1
            .urlLastUpdated{ :rel => "scribble/default.html" }<>
