- content_for :sub_title do
  aNaL tUcK!!!11
- content_for :author do
  The Senior Dads!!!
- content_for :description do
  Our first demo!!
- content_for :sub_keywords do
  Anal, Tuck, Analtuck, Fire, Nonce, Jessie
- content_for :main_content do
  #description
    %p<> This was out first ever Faclon 070 demo but what a demo!!! The <strong><em>first ever one-scanline full frame trucolour fire</em></strong> on C-lab's bird of pray!
    %p<> Even more amazing it was done in <strong>less than half an hour</strong>!!! Why? Because that's all the time we had before the deadline for the demo competition! This demo was done for the <strong>Fried Bits 3</strong> 96K demo compo. We suddenly decided in the last half an hour before the deadline that the 96K demo competition would present a good enough challenge for us. (We would have entered the best demo compo, but it was too easy- you don't know how lucky you were to win it, <strong><a href="../../computers/crews/atari.html#Lazer">Lazer</a></strong>!)</P>
    %p<> Our demo was shown right after <strong><a href="../../computers/crews/atari.html#Inter">Inter</A></strong>'s mega-long 96K-tro &quot;<strong><a href="../../computers/demos/falcon_030.html#TerroriseYourSoul">Terrorise Your Soul</A></strong>&quot;, which just pipped us to the post to win the competition. Their demo wasn't too bad, but our demo with it's simplicity and brevity (Hey I can use big words!!!) really blow it away!
    %h2<> Credits:
    %p<> This is a wierd one, because it went out our old names before we decide to revamp our image and launch our website! <strong>Old Fart</strong> used to be called &quot;Nonce&quot; and <strong>Doddering Git</strong> used to be called &quot;Jesse&quot;. This (and the title of the demo) was actually meant to be an ironic political statement about sexual and gender role models within a corrupt Western society, but unfortunately a lot of people got the wrong end of the stick, so we decided to ditch the old names for the next demo.
    %p<> More importantly, <strong>Dame Vera Lynn</strong> wasn't credited! He wasn't too pleased with that to say the least. <span class="highlight">[You can say that again- Dame VL]</span> Oh OK then... He wasn't too pleased with that to say the least. Ha ha ha ha ha!!! <span class="highlight">[Top joke! Classic, man! -Dame VL]</span>
  #creditsWrapper<>
    #credits<>
      .header<> And now, the PROPER credits!
      .credit<>
        .deed<> Revolutionary fire technique
        .by<>   <a href="../crew/dudes.html#Old_Fart">Old Fart</a>
      .credit<>
        .deed<> Revolutionary animated messager
        .by<>   <a href="../crew/dudes.html#Doddering_git">Doddering Git</a>
      .credit<>
        .deed<> The very <em>first</em> ever &quot;<a href="../music/default.html#fanfare">Senior Dads Fanfare</a>&quot;!
        .by<>   <a href="../crew/dudes.html#Dame_Vera_Lynn">Dame Vera Lynn</a>
  %p<>
  %hr<>
  %p<>
  #saggie<>
    .title<>
    .feature<> Check out <a href="../features/saggie/atuck.html">Maggie's review</a> of this demo!
  .more{ :rel => "colonic.html"}<>
