- content_for :sub_title do
  c0L0n1C 1rR1gAt10N!!!11
- content_for :author do
  The Senior Dads!!!
- content_for :description do
  Our Second demo!!
- content_for :sub_keywords do
  Falcon, Colonic, Irrigation, Water
- content_for :main_content do
  #description
    %p<>
      %em{ :style => "font-size: larger;" }<>
        <img src="../images/phase4.gif" alt="pHas3 40uR sT3r30!!11!" title="pHas3 40uR sT3r30!!11!" height="69" width="70" align="left" style="margin-right:10px;"> This demo took a lot of coding time, and showcases a new effect never seen before. This demo is also in PHASE FOUR STEREO!
    %p<> That's what we said in the readme file accompanying the release of the demo. What it doesn't say is that it only really took a lot of coding time when you add up all the time we spent fooling around with our Falcon until we came upon the effect by accident, and then forgot about it! And it doesn't say exactly <em>when</em> the effect was never seen before, which was a long time before we actually did the demo!! In reality, we started coding &quot;<strong>Colonic Irrigation</strong>&quot; right after we finished <strong><A HREF="atuck.html">Anal Tuck</A></strong>!
    %p<> You see, we were waiting for the actual competitions in <strong>Fried Bits 3</strong> to begin after we entered <strong>Anal Tuck</strong> and we saw that <strong>EKO</strong> had done a &quot;water effect&quot;. (Which would later turn up in their <strong><a href="../../computers/demos/falcon_030.html#EkoSystem">EKO System</a></strong> demo.) Funnily enough, this looked very much like an effect we did the previous year when we were first fiddling about with coding effects on the Falcon!
    %p<> At the time we thought our &quot;water&quot; effect looked shit, and forgot about it. When we saw EKO's version of our effect, we realised that the truth was that it didn't look shit, it's just that we were actually so ahead of everyone else, that it had only just come into fashion around about the time of <strong>Fried Bits 3</strong>, and only then did it <em>not </em>look shit!!! So we really were the first to do this effect, and not EKO!!!!
    %p<> Now that the time was right for a &quot;water effect&quot; in a demo,we dusted off our old code for release. At the same time, <strong><a href="../crew/dudes.html#Dame_Vera_Lynn">Dame Vera Lynn</a></strong> was investigating <strong>Phase 4 Stereo</strong> techniques in order to put a new spin on the old Protracker module replays, and did the first ever full piece of music for a Senior Dads demo.
    %p<> This demo was launched at the same time as this website!
  #creditsWrapper<>
    #credits<>
      .header<> Credits
      .credit<>
        .deed<> Code
        .by<>   <a href="../crew/dudes.html#Old_Fart">Old Fart</a><br/><a href="../crew/dudes.html#Doddering_git">Doddering Git</a>
      .credit<>
        .deed<> Music
        .by<>   <em>&quot;<a href="../music/default.html#theme">The Senior Dads Theme</a>&quot;</em> by <strong><a href="../crew/dudes.html#Dame_Vera_Lynn">Dame Vera Lynn</a></strong>
  %p<>
  %hr<>
  %p<>
  .saggie<>
    .title<>
    .feature<> Check out <a href="../features/saggie/colonic.html">Maggie's review</a> of this demo!!!
  %p<>
    %img(src="../images/demos/colonic_end.gif" title="" alt="" height="240" width="384" align="left")<>
