<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
   <TITLE>s3N10r dAdz d3M0z3C!!!111: THE 'DEF DEMO!!!</TITLE>
   <META NAME="Author" CONTENT="Old Fart of The Senior Dads">
   <META NAME="Description" CONTENT="The megamighty flippin' best are back with a new demo- in HTML5 and CODEF!!! We call it- the 'DEF DEMO!!!!!!">
   <META NAME="Keywords" CONTENT="Senior, Dads, demo, scene, demoscene, Atari, excellent, brilliant, CODEF, Javascript, HTML5, Def, Demo">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script language="Javascript" src="../js/website/jquery-1.11.0.min.js"></script>
	<script language="Javascript" src="../js/website/jquery.modern-blink.js"></script>
	<script language="Javascript" src="../js/website/main.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/SeniorDads.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Loader.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Image.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/ScreenHandler.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Music.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_core.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_scrolltext.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_gradient.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_starfield.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_fx.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_3d.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/Codef/codef_stats.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/common/riffwave.js"></script>
    <script language="javascript" type="text/javascript" src="../js/SeniorDads.HTML5/demos/def/main.js"></script>
    <script language="javascript" type="text/javascript">var s;function d(){DEMO_ROOT="../js/SeniorDads.HTML5/demos";s=new SeniorDads.Demos.Player(document.getElementById('demo'),'democanvas',SeniorDads.Demos.DefDemo);}</script>
        <style>
            .demoCover { width: 100%; }
            .demoCover #demo { margin-left: auto; margin-right: auto; }
        </style>
</HEAD>
<BODY onload="d();" id="demos" TEXT="#FFFF00" BGCOLOR="#000066" LINK="#77FF00" VLINK="#FF0000" ALINK="#FFFFFF" BACKGROUND="../images/sad_back.gif">
<div class="lastUpdated"></div>
<div id="subHeaderWrapper"><div id="subHeader"><div id="sd" class="link" title="s33N10r" rel="../default.html"></div><div id="title" class="link" title="d3M0z3!" rel="default.html"></div></div></div>
<div align="center">
<H4>
<FONT FACE="Arial Black"><FONT SIZE="7"><B>YES!!!</B></FONT><BR>
<FONT size="+1"><B>The megamighty <FONT COLOR="#FFFFFF"><span class="blink">flippin'</span></FONT> best are back!!!!!!!</B></FONT></font><p>
<i>It was twenty years ago today,<br/>The Dads taught the Atari world the coding way!<br/>They've been going in and out of style<br/>But they're guaranteed to create a killer 68000-based demo program file!!!<br/>So let us introduce to you...</i></p>
<FONT FACE="Arial Black"><FONT size="+2" color="#aaffaa"><B><I>A new demo in <span class="blink">CODEF</span>!!!!!</I></B></FONT>
</FONT><P>
Called...
</H4></div>
<div align="center">
<H1>
<FONT FACE="Impact, Arial, Helvetica" size="7">the <FONT COLOR="#FFffff">'DEF DEMO!!!</FONT></FONT></H1></div>
<div align="center"><TT>(HTML5 browser 0nLy!!!1!)</TT></div>
<P>
<table>
<tr>
<td>
<TABLE CELLSPACING="4">
<TR>
<TD><A HREF="../filez/demos/def.zip"><IMG SRC="../images/disk.gif" ALT="[d0Wnl0Ad!!11]" BORDER="0" HEIGHT="37" WIDTH="34"></A></TD>
<TD align="left" valign="center"><B><TT><A HREF="../filez/demos/def.zip">Shift Clicky 2 Downloady Source Codey! (4705K)</A></TT></B></TD>
</TR>
</TABLE>
<td rowspan="2" align="center" valign="top">
<IMG SRC="../images/demos/def/def.png" alt="">
</tr>
<TR><TD><P>
<IMG SRC="../images/phase4.gif" ALT="pHas3 40uR sT3r30!!11!" HEIGHT="69" WIDTH="70" ALIGN="RIGHT">
<B>TO RUN:</B>
<blockquote><I>Click on the play button on the screen below!!!! Click on the top right of the screen to go into fullscreen!!!! If you're running downloaded version, follow the instructions in the README.txt!!!!!<br/><br/>
This demo runs on all decent computes running decent HTML5 browsers (eg Google Chrome)!!!!!!!
</I></blockquote>
</table>
<p>
<B>Yes!!!!! <FONT COLOR="#FFFFFF" size="+3"><span class="blink">WE'RE BACK!!!</span></FONT> with a new
<FONT COLOR="#FFFFFF">HTML5 demo</FONT>!!!!!!!!!!</B>
<BLOCKQUOTE>
<p>Wot your about to see is a new standard in demo production!!!!! If you think this is Youtube, your so wrong!!!! It's happening right now in your browsey-wowsey!!!!!</p>
<p>We were planning to do a new Atari demo for our 20th anniversery!!!! Then we saw someone done an <a href="http://wab.com/?screen=302" target="_blank">Atari demo on tha web browser</a>, and we thot: "Hay!!!! Let's do that!!!!".</p>
<p>So we toiled for yonks learning about the <a href="http://codef.santo.fr/" target="_blank">CODEF Javscript/HTML5 malarkey</a>, and here are the first fruits of our labour!!!!</p>
</BLOCKQUOTE><p>&nbsp;</p>
<div class="demoCover"><div id="demo"></div></div>
<p>&nbsp;</p><p><hr/></p><table>
<tbody><tr>
<td align="CENTER" valign="CENTER" colspan="2"><h1>Credits for this earth shattering demo!!!!</h1></td>
</tr>
<tr>
<td align="LEFT" valign="TOP"><b>Code</b></td>
<td>
<ul>
<li><i><b><a href="../crew/dudes.html#Old_Fart">Old Fart</a></b>
</i></li>
<li><i><b><a href="../crew/dudes.html#Doddering_git">Doddering Git</a></b>
</i></li>
</ul>
<p>Even the mighty CODEF wasn't quite what we needed to acheive this, so we wrote a highly advanced demo system to make this monumental demo possible!!!</p>
<p>We have named this highly advanced demo system <FONT COLOR="#FFFFFF">'THE SENIOR DADS ADVANCED DEMO SYSTEM'</FONT>.</p>
</td>
</tr>
<tr>
<td align="LEFT" valign="TOP"><b>Music</b></td>
<td>
<ul>
<li>Inspired by Top DJ Sasha, <b><a href="../crew/dudes.html#Dame_Vera_Lynn">Dame Vera Lynn</a></b> wrote <b><i>"<a href="../music/default.html#Sashy">Sashy Shit</a>" </i></b><i>.</i></li>
<li>Also inspired by the demo crew Rasero Team and their demo "Senior Fucks Out", he wrote <b><i>"<a href="../music/default.html#RaseroTeam">Rasero Team Fuck Out</a>" </i></b><i>.</i></li>
</ul>
</td>
</tr>
<tr>
<td align="LEFT" valign="TOP"><b>GFX&nbsp;</b></td>
<td>
<ul>
<li><i><b><a href="../crew/dudes.html#Jackson_Pollock">Jackson Pollock</a></b>
</i></li>
</ul>
</td>
</tr>
</tbody></table>
</HTML>
