- content_for :sub_title do
  p33=C33!!!111
- content_for :author do
  Doddering Git of The Senior Dads
- content_for :description do
  cH3cK d1S 0uT !!1!! 0uR d3M0z3!!1 0n dA p33=C33!!!111
- content_for :sub_keywords do
  Pacifist, PC
%div{ :align => "right" }<>
  %p{ :style => "font-size: xx-large;"}<>
    %span{ :style => "color: #FF8080"}<> Y
    %span{ :style => "color: #FFFF80"}<> E
    %span{ :style => "color: #80FF80"}<> S
    %span{ :style => "color: #00FF80"}<> ,&nbsp;
    %span{ :style => "color: #80FFFF"}<> W
    %span{ :style => "color: #0080FF"}<> E&nbsp;
    %span{ :style => "color: #FF80C0"}<> H
    %span{ :style => "color: #FF80FF"}<> A
    %span{ :style => "color: #FF00FF"}<> V
    %span{ :style => "color: #8080C0"}<> E&nbsp;
    %span{ :style => "color: #0080C0"}<> D
    %span{ :style => "color: #00FFFF"}<> O
    %span{ :style => "color: #00FF40"}<> N
    %span{ :style => "color: #80FF00"}<> E&nbsp;
    %span{ :style => "color: #FFFF00"}<> P
    %span{ :style => "color: #FF0000"}<> C&nbsp;
    %span{ :style => "color: #804040"}<> D
    %span{ :style => "color: #FF8040"}<> E
    %span{ :style => "color: #00FF00"}<> M
    %span{ :style => "color: #8080FF"}<> O
    %span{ :style => "color: #FF0080"}<> S
    %span{ :style => "color: #FF8000"}<> !
    %span{ :style => "color: #0080FF"}<> !
    %span{ :style => "color: #FF8080"}<> !
    %span{ :style => "color: #00FF80"}<> !
  %p<> Well, not really, but thanks to a program called <B><a href="http://www.pacifist.fatal-design.com/">PacifiST</A></B>, you can run some of our demos on the PC, complete with sound and things! Check out the <a href="http://www.pacifist.fatal-design.com/">Pacifist home page</A>, and then get these demos now! (They're much better than the real PC&nbsp;ones anyway!!!)</P>
%ol#DemoList{ :type => "a", :start => "8" }<>
  %li<>
    .title<>
      <a href="ladmds2.html">//a l;AuB3 dU mAt1N dU s01R iI//</a>
    .subheading<>
      0uR c0-pR0dUcT10n with,,,, <strong class="l33TsP33kExtra">aTr0c1tY</strong>!!!!111
  %li<>
    .title<>
      tHa <a href="floormat.html">sT fL00rMaT d3M0</a>!!!11
    .subheading<>
      0uR <strong>f1RzT</strong> k1Ll3R d3M0!!!111
  %li<>
    .title<>
      tHa <a href="teckno.html">&lt;&lt;aNt1 t3kKn0>> t3kKn0</a>d3M0!!11\!
    .subheading<>
      tH3 <strong>f1RzT</strong> k1Ll3R d3M0 tHaT <strong><a href="../crew/dudes.html#Jackson_Pollock">jAcKs0N p0Ll0Ck</a></strong> &amp;&amp; <strong><a href="../crew/dudes.html#Dame_Vera_Lynn">dAm3 v3Ra lYnN</a></strong> d1D!!!1 !!1!
  %li<>
    .title<>
      <a href="mono.html">m0N0m3NtAl</a>!!111
    .subheading<>
      0uR 61xX!11! p01Nt w1Nn1Ng <strong>aLt\pArT33</strong> d3M0!!11!1!
  %li<>
    .title<>
      tH33 <a href="fake.html">uLt1MaT3 fAk3 d3M0</a>!!111
    .subheading<>
      0uR tHr33!11! p01Nt w1Nn1Ng <strong>aLt\pArT33</strong> d3M0!!11!1!
