- content_for :sub_title do
  THE ULTIMATE FAKE DEMO!!!
- content_for :author do
  Old Fart of The Senior Dads
- content_for :description do
  HA! So you think we in the SD do FAKE demos, do you!!! Well, we'll do a FAKE demo for you!!!!!
- content_for :sub_keywords do
  Falcon, ST, STFM, STE, Pacifist, Ultimate, Fake, Gem, desktop, emulator
- content_for :intro_content do
  %div{ :align => "center" }<>
    %h4{ :style => "Arial Black"}<>
      %span{ :style => "font-size:xx-large;"}<> SO!!!<br/>
      %span{ :style => "font-size:larger;"}<> We're a FAKE</FONT> demo crew, are we?
    %h4<>
      %span{ :style => "font-size:x-large;"}<> <em>Well, we'll show you!!!!</em>
    %p<> With...
    %h1{ :style => "font-family: Lucida Console;" }<> the ULTIMATE FAKE DEMO!!!
- content_for :main_content do
  #description
    %h4<> TO RUN:
    %ul<>
      %img(src="../images/phase4mono.gif" title="pHas3 40uR sT3r30!!11! (In Mono!)" alt="pHas3 40uR sT3r30!!11! (In Mono!)" height="69" width="70" align="right")<>
      %p<>
        Double click on "<B>FAKE.PRG</B>". This demo works on all Hasbro compooterz!!! So even Optimus Prime will be able to run this lovely demo!!! Which is funny, because our code is <B>OPTIMISED PRIME</B>!!!!! Ha ha ha ha, are we wacky or wot?
    %p<>
      %a{ :href => "pc.html" }<>
        %img(src="../images/demos/pacifist.gif" title="pAc1F1sT c0MpAt1Bl3!!1!" alt="pAc1F1sT c0MpAt1Bl3!!1!" height="60" width="147" align="right")<>
      <B>What the <span style="color:#ffffff; font-size: xx-large;" class="blink">feck</span> (!!!) is the ULTIMATE FAKE DEMO all about!?!?!?!?!??!</B>
    %p<> This demo was done in a little bit of spare time before finishing <a href="mono.html"><B>Monomental</B></A>! We did it one night after reading yet another bloody thingy saying were a <I>"fake demo crew"</I>. Even worse, they said we did <I>"fake demos"</I>!!!!!!!!!! We were a little annoyed before, and this was the drinking straw that broke the lama's back! (Don't tell Jeff Minter!)
    %p<> <B>Flippin' feckin' nora!!</B> Do these peeps knows what a fake demo really is???!?!?
    %p<> Well, we did this little demo to show them what a <B>REAL</B> fake demo is!!!
    %p<> Just run it and see!!!
