- content_for :sub_title do
  \//a l;AuB3 dU mAt1N dU s01R iI [r3M1x!!!1!!]//
- content_for :author do
  The Senior Dads!!!
- content_for :description do
  Our third demo!!
- content_for :sub_keywords do
  Falcon, ST, STE, L, Aube, Du, Matin, Soir, remix, Atrocity
- content_for :main_content do
  #description
    %p<>
      %img(src="../images/phase4.gif" title="pHas3 40uR sT3r30!!11!" alt="pHas3 40uR sT3r30!!11!" height="69" width="70" align="right")<>
      This is an unusual demo in that it was originally done by French demo crew <strong>Atrocity</strong> for the Falcon. We managed to get it working on the JTS STE!! It's also unusual in that there's <a href="#versions">two versions</a> of the demo going about!!!
    %hr{ :width => "100%" }<>
    %h2<> Atrocity's bit!
    %p<> Released 1st March 1995.
    %p<> Coded by <strong>SERGENT SLAYER</strong> and <strong>DOCTOR SKULL</strong> in assembler and GFA Basic, with soundtracker routines by <strong>Wizzcat</strong>.
    %p<> If you want to contact Atrocity or you want to<strong><em> fume le calume de la paix </em></strong>with them, then write to...
    %ul<>
      %p<> <strong>'ATROCITY'<BR/>1,BD GARIBALDI<BR/>92130 ISSY LES MOULINEAUX</strong>
    %p<> Oh yeah, those mug-shots in the intro were done by us at the <strong>Megafun 5</strong> party at Lille. Everyone in Atrocity is in featured here. Hope no-one from college sees us, because that wouldn't be funny!
    %p<> <strong>ATROCITY </strong><em>(Very bad translation by <strong>Old Fart</strong>)</em>
    %hr{ :width => "100%" }<>
    %h2<> SENI0R DADS BIT!</FONT></FONT></P>
    %p<> We found this cool French demo on a French FTP server, and decided to spread it arounda bit. We've packed it so it can fit on a DD disk, and added our own little intro to it.
  #creditsWrapper<>
    #creditsExpanded<>
      .header<> Credits for our bit
      .credit<>
        .deed<> Mega Coding:
        .detail<>
          %ul<>
            %li<> Intro and entro coding
            %li<> Extra packing
            %li<> Super-duper depacking code
        .by<>   <a href="../crew/dudes.html#Old_Fart">Old Fart</a></strong>, and <strong><a href="../crew/dudes.html#Doddering_git">Doddering Git</a></strong>! (in pure 68070 using Devpac 6!)
      .credit<>
        .deed<> Super duper music:
        .detail<>
          %ul<>
            %li<> <a href="../music/default.html#laurent">Laurent Garnier, Kiss my Derriere</a>&quot;
            %li<> <a href="../music/default.html#liam">Liam Gallagher, Kiss My Derriere(The Burp Song)</a>
        .by<>     <a href="../crew/dudes.html#Dame_Vera_Lynn">Dame Vera Lynn</a>
      .credit<>
        .deed<>
        .detail<>
          %ul<>
            %li<> Also contained in the <a href="#versions">European version</a> of the demo is a sample of part of <em>&quot;I Want To F@*! Your Daughter&quot;</em>, an ironic new funk song by <strong><a href="../crew/dudes.html#Jackson_Pollock">Jackson Pollock</A></strong>'s band <strong>Basil</strong>. Check them out live when they come to your town!
            %li<> The <a href="#versions">UK version</a> instead contains a sample from BBC TV's<strong><em>&quot;Not the Nine O' Clock News&quot;.</em></strong>
      .credit<>
        .deed<> Brain Blasting Graficxz:
        .detail<>
          %ul<>
            %li<> The debut of the &quot;<strong><a target="_new" href="../images/demos/presents.gif">Senior Dads presents</a></strong>&quot; logo in a demo! The logo was adapted from the original heading of our newly launched website!
            %li<> &quot;<strong><a target="_new" href="../images/demos/ladmds2.gif">A L'Aube Du Matin Du Soir</a></strong>&quot;- my own abstract interpretation of the theme expressed in the demo.
            %li<> The address screen in Atrocity's &quot;Invite&quot; screen was altered in the <a href="#versions">UK version</a> of the demo. I put a &quot;CENSORED!&quot; sign in French over some Manga babe's bosoms!!!
            %li<> &quot;<strong>Credits screen</strong>&quot;- in the style of the &quot;presents&quot; screen.
            %li<> &quot;<strong>Goodbye screen</strong>&quot;- specially graphically designed to shimmer when faded in and out!!
        .by<>     <a href="../crew/dudes.html#Jackson_Pollock">Jackson Pollock</a>, who had just joined us as a GFX member!
  %p<> You can run this demo from a hard drive by simply copying all the files across. Run &quot;LOADER.PRG&quot; to start the demo. If you've already got all the files on the hard drive and you want to run them from a disk, you copy ALL the files (Yes, including the DESKTOP.INF and NEWDESK.INF files onto a disk. Make sure you virus protect it, then just boot up the disk.
  %hr<>
  %h3<>
    %a<> { :name => "versions" } Why are there <span class="blink">TWO</span>versions of the demo?
    %p<> Yes, that's right- there are 2 different versions of &quot;L' Aube Du Matin Du Soir 2&quot;, a <strong>European</strong> version and a <strong>UK</strong> version. The European version is the original version we did and uploaded to European FTP servers, and is the version which you can download from this page. The UK version was done when we wanted to upload the demo to a couple of UK Atari bulletin boards. We had to clean up a couple things for the UK audience! Here are the differences between the two versions...
    %div{ :align => "center"}<>
      %table{ :border => "1", :cellpadding => "4" }<>
        %tr<>
          %td<>
          %td{ :align => "center", :valign => "top"}<>
            <strong>European</strong>
          %td{ :align => "center", :valign => "top"}<> <strong>UK</strong>
        %tr<>
          %td{ :align => "center", :valign => "top"}<> Released 1 March 1996
          %td{ :align => "center", :valign => "top"}<> Released much later! The 1st May 1996, no less!!!
        %tr
          %td{ :align => "left", :valign => "top"}<> Atrocity's &quot;Invite&quot; screen contains a picture of a Manga babe with bare breasts!!!
          %td{ :align => "left", :valign => "top"}<> The offending picture has a large <strong>&quot;CENSORED!&quot;</strong> in French over the offending area.
        %tr
          %td{ :align => "left", :valign => "top"}<> The Senior Dad's endpart contains a sample of <em>&quot;I Want To F@*! Your Daughter&quot;</em>, an ironic new funk song by <strong><a href="../crew/dudes.html#Jackson_Pollock">Jackson Pollock</A></strong>'s band <strong>Basil</strong>.
          %td{ :align => "left", :valign => "top"}<> Instead of that, there's a long sample from BBC TV's<strong><em>&quot;Not the Nine O' Clock News&quot;.</em></strong>
        %tr
          %td{ :align => "left", :valign => "top"}<> Can fit on a 720K PC disk.(This is noted in the READ_ME.TXT file included with the demo.)
          %td{ :align => "left", :valign => "top"}<> <strong>Can't</strong> fit on a 720K PC&nbsp;disk- on this version, the READ_ME.TXT file has been amended to say that it fit on a <strong>82 track 10 sector disk format</strong>.
        %tr
          %td{ :align => "center", :valign => "top"}<> The archive is 642K long.
          %td{ :align => "center", :valign => "top"}<> The archive is just under 700K long!
        %tr
          %td{ :align => "left", :valign => "top"}<> Available from most European Atari FTP servers,eg <strong><a href="ftp://ftp.cnam.fr/pub/Atari/">ftp.cnam.fr</A></a> and <strong><a href="ftp.uni-kl.de/pub/atari/">ftp.uni-kl.de</a></strong>.
          %td{ :align => "left", :valign => "top"}<> Was only available from a couple of the good Atari bulletin boards in the UK for a short time. (eg <strong><a href="http://www.fffnet.demon.co.uk/index.htm">42bbs</a></strong> had it).<br/><br/><strong><span class="blink">UNTIL NOW!</span> YOU CAN NOW DOWNLOAD A PATCH <a href="../filez/demos/ladmds2b.zip">HERE</a> TO TURN YOUR EUROPEAN VERSION OF THE DEMO INTO THE UK VERSION!!!!!!!!!!!!!!</strong>
  %hr<>
  %h3<>  The <span class="blink">hidden </span>screen!
  %p<>  Yes, there's also a hidden screen in both versions of the demo. There's <strong>one</strong> false ending when Atrocity's parts of the demo ends saying &quot;fin&quot;, then our endpart suddenly begins, but after <strong>that</strong> is finished, the demo exits to the desktop, <em>but it's still not finished!!!!</em> There's another hidden part! See if you can find it!
  .more{ :rel => "airdirt.html"}<>
