- content_for :sub_title do
  MONO-MENTAL!!!!!!
- content_for :author do
  The Senior Dads!!!
- content_for :description do
  The First Mono Demo!!!!
- content_for :sub_keywords do
  ST, STFM, STE, Pacifist, Monomental, Mono, Mental
- content_for :style_id, flush: true do
  monomental
- content_for :intro_content do
  %div{ :align => "center" }<>
    %h4<> FOR THE FIRST TIME EVER!!!!
    %p<> A multipart<span class="blink"> mono </span>demo on the Hasbro JTFM/JTE/FACLON!
    %h1<>  It's... MONO-MENTAL</FONT>!!!!
- content_for :main_content do
  #description
    %img(src="../images/demos/mono/phase4mono.gif" title="pHas3 40uR sT3r30!!11! (In Mono!)" alt="pHas3 40uR sT3r30!!11! (In Mono!)" height="69" width="70" align="right")<>
    %h4<> TO RUN:
    %ul<> Double click on <B>MONOMNTL.TOS</B><br/><I>This program works on <B>JTSFM</B>, <B>JTE</B>, <B>C-Lab Faclon</B></I>
    %p<> <a href="../pc.html"><IMG SRC="../images/demos/mono/pacifist.gif" ALT="pAc1F1sT c0MpAt1Bl3!!1!" BORDER="0" HEIGHT="60" WIDTH="147" ALIGN="right"></A>Why? because it's the <I>FIRST <B>PROPER <FONT SIZE="+1">MONOCHROME <U>MULTIPART <span class="blink">DEMO</span>!!!</U></FONT></B></I>
    %p<> Yes, it's true demo fans, you can do a demo in <B>MONO</B>!!!!
    %p<> Everything in this demo is in mono, even the music!! And we've even added a themy thingy!! Go fast forward to the yesteryears of the back of your mind!!! Now you don't need to rent those old TV videos cause we've got them all here!
  #creditsWrapper<>
    #credits<>
      .header<> The credits- in MONO!!!!
      .credit<>
        .deed<> MEGA MONO CODE
        .by<>   <a href="../crew/dudes.html#Old_Fart">OLD FART</A>, <br/><a href="../crew/dudes.html#Doddering_git">DODDERING GIT</A></B>, ...<br/>... and, introducing...&nbsp;<br/><a href="../crew/dudes.html#Colostomy_Bag">COLOSTOMY BAG</A>! in his first demo effect!
      .credit<>
        .deed<> MEGA MONO PICS
        .by<>   <a href="../crew/dudes.html#Jackson_Pollock">Jackson Pollock</A>
      .credit<>
        .deed<> MEGA MONO MUSIC
        .by<>   <a href="../crew/dudes.html#Dame_Vera_Lynn">DAME VERA LYNN</A>
  %p<> This demo is released at the ALT party at Easter 1998!!
  %p<> It got 6 points in the compo!!!!!!!!!!!!!!!!!!!!
  %p<> Bye!
