- content_for :sub_title do
  The 'Anti Teckno' Teckno Demo
- content_for :author do
  Dame Vera Lynn of The Senior Dads
- content_for :description do
  We're going to go BACK... Way BACK! .... BACK INTO TIME! .... with a demo DAME VERA LYNN and JACKSON POLLOCK did before they were in the Senior Dads!! We present... THE ANTI-TECKNO TECKNO DEMO!!! (STFM/STE/Falcon)- Download if you know what's good for you!
- content_for :sub_keywords do
  STFM, ST, STE, Pacifist, Falcon, Anti, techno, teckno
- content_for :intro_content do
  %div{ :align => "center" }<>
    %table{ :cellspacing => "0", :cellpadding => "0" }<>
      %tr<>
        %td<>
          <strong>We're going to go <span class="blink">BACK</span></strong>
        %td<>
        %td<>
      %tr<>
        %td<>
        %td<>
          <strong>... Way <span class="blink">BACK</span>! ...</strong>
        %td<>
      %tr<>
        %td<>
        %td<>
        %td<>
          <strong>.... BACK INTO <span class="blink">TIME</span>! ....</strong>
  %h4{ :align => "center" }<>
    %span{ :style => "color: #8000FF;"}<> W
    %span{ :style => "color: #0080FF;"}<> i
    %span{ :style => "color: #00FF40;"}<> t
    %span{ :style => "color: #FFFF00;"}<> h&nbsp;
    %span{ :style => "color: #FF8000;"}<> t
    %span{ :style => "color: #FF0000;"}<> h
    %span{ :style => "color: #804000;"}<> e
    %span{ :style => "color: #C0C0C0;"}<> ...
  %h1{ :align => "center" }<> &quot;ANTI-TECKNO&quot; TECKNO demo!
  %h2{ :align => "center" }<> by <strong>Octave-8</strong> and <strong>Motorcycle Emptiness</strong> of <strong>Speakeasy 7</strong>
  %h1{ :align => "center" }<> aka
  %h3{ :align => "center" }<> <strong>Dame Vera Lynn</strong> and <strong>Jackson Pollock</strong> of the <strong><a href="../default.html">Senior Dads</a></strong>!!
- content_for :main_content do
  #description
    %h4<> TO RUN:
    %ul<>
      %img(src="../images/phase4mono.gif" title="pHas3 40uR sT3r30!!11! (In Mono!)" alt="pHas3 40uR sT3r30!!11! (In Mono!)" height="69" width="70" align="right")<>
      %p<>
        Double click on <br/>TECKNO.PRG</strong><br/><em>This program works on <strong>JTSFM</strong>, <strong>JTE</strong>, <strong>C-Lab Faclon, and PacifiST PC!</strong></em>
    %h4<> WARNING:
    %ul<>
      %p<>
        <strong><em>Don't watch if you have epliplessy!</em></strong> Unless you want to do a mad boneshaking dance to the <strong>mega-<span class="blink">flashing</span> lightz</strong>!!
    %h4<> HERE ARE THE INFOS, Y'<span class="blink">ALL</span>!
    %p<> <span class="blink" style="color: #00ff80;">Yo!</span> <strong>Dame VL</strong> here in da house, and herez are oldie for yas! Nope, it's not<em> &quot;New Labour, new demo&quot;</em> time yet! This is a demo from the old demo crew me and <strong>Jackson Pollock</strong> were in. I say demo crew, I mean <strong><span class="blink">PRATS</span></strong>! Apart from us 2 kool dudes of course. The crew were called &quot;<strong>SPEAKEASY 7</strong>&quot;- you've probably never heard of them, but that's no surprise because they were <strong><span class="blink">CRAP</span></strong>! The only good thing going for these losers was:
    %ol{ :type => "a", :start => "1" }<>
      %li<> the name, which I thought up
      %li<> myself and Jackson Pollock. My handle was &quot;<strong>Octave-8</strong>&quot; (Cool, huh?) and JP was called &quot;<strong>Motorcycle Emptiness</strong>&quot; after a song by the <strong>Manic Street Whatisnames</strong>. (Before they lost that thin dude. In fact, it was before that <strong>Kurt</strong> and his shotgun sandwich!)
    %p<> We had the idea of doing a music demo in 1992- I was told to do some killa musix, and JP to do da visual FX. I went away and came up with the goodz- a pumping techno soundtrack (This is 1992, so it sounds a bit more laid-back now!!!) and JP came back with the graficks! As soon as I told the rest of the crew about my new piece of zax, they went <em>&quot;Oh no!&quot;</em> because JP had just phoned to tell them that he had decided that the demo was to be an <strong>anti-techno</strong> music demo, and had come up with anti-techno situationist sloganz logoze! We were told to fix the problemo pronto, or receive the order of the boot!
    %p<> I contacted JP, who wasn't best pleased, and said<em> &quot;No, hang on, that's cool!&quot;</em> and suggested that whatever those losers in the crew might think, we'll try to accomodate both viewz in the demo! (I'm always open-minded towards other views even if they are a load of complete shit!) So we worked for a couple days on the demo, then showed it off to the rest of the guyz! <em>&quot;Hey presto, dudes, the new <strong>Speakeasy 7</strong> demo!!&quot;</em>
    %p<> It was well kool! Anti-techno slogans flashing in time with my <strong>dance floor killa kut</strong>! It was the first time any of them had seen JPs GFX for the demo, and the first time they had heard my mega chip-muzak techno module. <em>(The first techno module ever in <strong>ST chip musix</strong>!) </em>The impact must have been <strong class="blink" style="font-size:larger;">MEGA!</strong>
    %p<> Well, that's what I thought, but the other guys took one look at it, and told us to fuck off! I decided I was too big for the group, and left, and JP did likewise. Last I heard of those losers, they're employed in some database company or something with no demo releases to their name, while we joined an internationally reknowed demo crew whose web pages are mentioned in <strong><a href="../features/presstrail/ac2.html">famous Atari magazines</a></strong>. <em>C'est la vie</em> as Robbie Williams says...
  %hr<>
  #creditsWrapperExtended<>
    #credits<>
      .header<> So check out da CREDITZ, <span class="blink">BOYEZZ!</span>:
      .credit<>
        .deed<>   CODEZ:
        .detail<> Main demo code
        .by<>     <a href="../crew/dudes.html#Dame_Vera_Lynn">OCTAVE-8</a><br/><a href="../crew/dudes.html">MOTORCYCLE EMPTINESS</a>
      .credit<>
        .deed<>
        .detail<> Senior Dads intro!
        .by<>     <a href="../crew/dudes.html#Old_Fart">OLD FART</a>
      .credit<>
        .deed<>   MUZIKX:
        .detail<> Main Musix (Kool, isn't it?)
        .by<>     <a href="../crew/dudes.html#Dame_Vera_Lynn">OCTAVE-8</a>
      .credit<>
        .deed<>
        .detail<> <a href="../music/default.html#fanfare">Senior Dads Fanfare</a> of course!
        .by<>     <a href="../crew/dudes.html#Dame_Vera_Lynn">DAME VERA LYNN</a>
      .credit<>
        .deed<>   GRAFIX:
        .detail<> Main GFX
        .by<>     <a href="../crew/dudes.html">MOTORCYCLE EMPTINESS</a>
      .credit<>
        .deed<>
        .detail<> Senior Dads <strong><a href="../images/demos/presents.gif">logo</a></strong>!
        .by<>     <a href="../crew/dudes.html#Jackson_Pollock">JACKSON POLLOCK</a>
  %hr<>
  %p<>
    <em>Message to former members of <strong>Speakeasy 7</strong>: </em>
  %ul<>
    %p{ :style => "xx-large" }<>
      Ha ha ha ha ha!