#subHeaderWrapper<>
  #subHeader
    #sd<>
      %a{ :href => "/" }<>
        %img{ :src => "/images/blank.gif", :alt => "s33N10r", :title => "s33N10r" }<>
    - unless (sectionUrl == ".")
      #title<>
        %a{ :href => sectionUrl }<>
          %img{ :src => "/images/blank.gif", :alt => sectionTitle, :title => sectionTitle }<>
    - else
      #title{ :title => sectionTitle }<>
