/* SENIO-STYLE!!!!! */

.bigger2 {
  font-size: x-large;
}

@import 'includes';

#subHeaderWrapper {
  width: 100%;
  #subHeader {
    margin: {
      left: auto;
      right: auto;
    }
    position: relative;
    width: 80px + 350px;
    height: 150px;
    margin-bottom: 20px;
    #saggie & {
      width: 80px + 170px;
    }
    #saggie #dox & {
      width: 80px + 350px;
    }
    #presstrail & {
        height: 200px;
    }    

    #sd {
      @include position(0px, 150px - 107px);
      width: 80px;
      height: 107px;
      background: {
        image: url(/images/sd_small.gif);
        repeat: no-repeat;
        position: center;
      }
      #MonoMental & {
        background-image: url(/images/demos/mono/sd_small.gif);
      }
      img {
        @include position(0px, 0px);
        width: 80px;
        height: 107px;
      }
    }
    #title {
      width: 350px;
      height: 150px;
      @include position(80px, 0px);
      background: {
        repeat: no-repeat;
        position: center;
      }
      img {
        @include position(80px, 0px);
        width: 350px;
        height: 150px;
      }
      #crew & {
        background-image: url(/images/dudes.gif);
      }
      #demos & {
        background-image: url(/images/demos.gif);
      }
      #gfx & {
        background-image: url(/images/gfx.gif);
      }
      #choons & {
        background-image: url(/images/choons.gif);
      }
      #knut & {
        top: (150px - 107px) /2;
        background-image: url(/images/features/knut/logo.jpg);
      }
      #presstrail & {
        background-image: url(/images/features/presstrail/ptrail_main.gif);
        height: 200px;
      }
      #saggie & {
        background: {
          image: url(/images/features/saggie/saggie_mini.gif);
          position: left top;
        }
        width: 170px;
        top: (150px - 107px)/2;
      }
      #MonoMental & {
        background-image: url(/images/demos/mono/demos.gif);
      }
      #features &, #dox & {
        width: 350px;
        height: 150px;
        background-image: url(/images/dox.gif);
      }
    }
  }
}

#homeMenu {
  .menuItem {
    height: 151px;
    position: relative;
    .icon {
      @include position( 0px, 0px );
      width: 350px;
      height: 150px;
      img {
        width: 350px;
        height: 150px;
        cursor: pointer;
      }
    }
    .text {
      @include position( 350px, 0px );
      text-align: left;
      margin: {
        bottom: auto;
        top: auto;
      }
    }
  }
}

.noscript {
  width: 80%;
  margin: {
    left: auto;
    right: auto;
  }
  background-color: white;
  noscript {
    padding: 15px;
    color: black;
    font: {
      family: Impact, Arial Black, Arial, sans-serif;
      size: 164px;
    }
  }
}

#SDTextTitle {
  width: 35%;
}

body#dadmin {
  @include centreBox('.picture_editor', '.pictures');
  .pictures {
    .picture {
      float: left;
      width: 160px;
      height: 150px;
      position: relative;
      margin: {
        right: 20px;
        bottom: 20px;
      }
      img {
        max-width: 150px;
        width: 100%;
        height: auto;
        @include boxShadow();
      }
      .handle {
        @include position(0px, 0px);
      }
      .delete {
        @include position(0px, 0px, true);
        img {
          max-width: 20px;
          width: 100%;
          height: auto;
        }
      }
    }
    .add img {
      @include boxShadow(0px, 0px, 0px, 0px, transparent);
    }
  }
}
