- content_for :sub_title do
  A brillibobs new story by the SENIOR DADS!!!
- content_for :author do
  Old Fart of the SD!!!!
- content_for :description do
  A brillibobs new story by the SENIOR DADS!!!
- content_for :sub_keywords do
  yippy
- content_for :content do
  %div{ :style => "text-align:center;" }
    %h3<> Presents...
    %img{ :src => "/images/features/knut/title.jpg", :title => "[KILLER NUT!]", :alt => "[KILLER NUT!]", :height => "150", :width => "298"}<>
  .mainText
    %p<> We've been watching a great program in the UK called "<a href="http://www.ntk.net/killer/">Killer Net</a>"! This proggy is reely brilliant, it's like a "<strong>Hitch-Hiker's Guide to the Galaxy</strong>" of the 1990s!!! It takes the piddle out of bad ITV dramas and those really funy films that act like they know about the Super Info Highway of the Net web! Ex-Police drummer <strong>Douglas Coupland</strong>, who now writes about "wired" and "Interactive" things says that in future years people will go to theme parties about really crappy "net" programs and films, just like they go to 70s nights at the moment! Well, this program will probably be one of the favourites!!! You can imagine in years from now people, instead of going "<strong>It's an ex-parrot! It has ceased to exist!</strong>", they'll be going "<strong>She's flamed yer! She's called yer a wanker on all the newsgroups!</strong>"!!!!
    %p<> Well, being the far-ahead-of-time cool dudes that we are, we're going to be writing own completely original hilarious "net" tale, called <strong>KILLER NUT</strong>! (Though we'll probably have to change that sooner or later.)
    %p<> You are visitor <span class="counter" rel="8"></span>!!!!
  %h3<> What have we done so far?
  %p<> At the mo, we're doing the <strong>plot</strong>! So far, <strong><a href="plot1.html">episode 1</a></strong>!!!! When the plot is finished, we can start working on the <strong>script</strong> proper!!
  %p<> We haven't worked out the characters completely yet though! But so far, we're thinking about having 4 really cool demo programing guyz as the heroes!!
  %p<> We've also done a really supey-dupey <strong>logo</strong>!!! See how <strong>Jackson Pollock</strong> did it <a href="logo.html">here</a>!!!
  %h3<> What can I do?
  %p<> We want this to be the best "net" comedy script ever, so we're looking for loadsa <strong>suggestions</strong>!! If you <strong><a href="mailto:oldfart_sd@yahoo.com">mail us</a></strong> with suggestions, we'll <strong>credit</strong> you on these very pages!!! 
  %p<> Remember, the more bizarre and unlikely- the better!! And we really want it to end with an absolutely ridiculous "Cluedo" style ending as well. The CGI server on this site is now <strong>working again</strong>, so we're busy coding the <strong>message board</strong> so we can have some <strong>script conferences</strong>!!!!
  %p<> Anyway, enough of this- have a look at our ideas for <strong><a href="plot1.html">episode 1</a></strong>!!!!
