- content_for :sub_title do
  LOGO!
- content_for :author do
  Jackson Pollock
- content_for :description do
  How Jackson Pollock did our brillibobs "KILLER NUT" logo!!
- content_for :sub_keywords do
  logo, art, artist, photoshop
- content_for :content do
  %div{ :style => "text-align:center;" }
    %h1<> How we did that <B>bloody good</B> <a href="../../images/features/knut/logo.jpg">logo</A>!!!
    %h4<> A little steppy-by-steppy guide by <a href="../../crew/dudes.html#Jackson_Pollock">Jackson Pollock</A>.
  %div{ :class => "miniText"}<>
    %p#LogoIntro<>
      %a{ :href=> "../../crew/dudes.html#Jackson_Pollock"}<>
        %img{ :src => "/images/jpollock.jpg", :title => "Jackson Pollock says: ", :alt => "Jackson Pollock says: ", :height => "75", :width => "144"}<>
      Believe it or not, people have been asking us how we did our nice cool <B>Killer Nut</B> logo. They have even been asking if... it's been ripped off from a certain <span class="blink">other</span> programme.
    %p<> Well, of course it isn't. I'm a totally original artist and I do all my own work! Of course I did the "Killer Nut" logo! In fact, it was a really easy logo to do, in fact so easy that I can now tell you how I did it!
    %p<> Prepare to be astounded by the ultimate sense of easiness and ordinaryness of the seven little magic steps, using your average common or garden <B>Photoshop</B> (Version 3 or later...).
    %table{ :id => "logoSteps", :border => "0", :cellspacing => "0", :cellpadding => "4" }<>
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step1.gif", :title => "[Step 1!!!]", :alt => "[Step 1!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step one:<br/>Make a nice background!
          %p<> It's dead easy, just fill in the background with any colour you like- Red, blue, cyan, puce, or any other Teletubbies colours!! Except <span style="color: #00ff00;">GREEN</span>, or BLACK!!!
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step2.gif", :title => "[Step 2!!!]", :alt => "[Step 2!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step two:<br/>Do the text in green!
          %p<> This is really easy too! Just make a new layer with the text "Killer Nut" in bright green (0,255,0) in the font <B>Impact</B> in 48pt, and stick in the centre of the image.
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step3.gif", :title => "[Step 3!!!]", :alt => "[Step 3!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step three:<br/>Do a copy of the text in black!
          %p<> Now you can see why I told you not to fill the background in green or black, can't you? Anyway, this is also very easy-peasy! Just duplicate the layer with the text in it, and colour it black.
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step4.gif", :title => "[Step 4!!!]", :alt => "[Step 4!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step four:<br/>Blur the green text!
          %p<> Go to the layer with the green verion of the text, and do a <B>Gaussian Blur</B> at level of <B>5.0</B> ... Easy huh?
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step5.gif", :title => "[Step 5!!!]", :alt => "[Step 5!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step five:<br/>Blur a copy of the blur!
          %p<> Now duplicate that blurred layer, and blur the copy in exactly the same way. I know what you're thinking, this art business is too easy. Wait until you see the next bit!
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step6.gif", :title => "[Step 6!!!]", :alt => "[Step 6!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step six:<br/>Add it all together!
          %p<> Make all the layers visible, and make sure the black text is on the top- hey presto, instant "Killer Nut" logo on a red background!!! Now all that remains is...
      %tr{ :valign => "top" }<>
        %td.image<>
          %img{ :src => "/images/features/knut/logo/step7.gif", :title => "[Step 7!!!]", :alt => "[Step 7!!!] ", :height => "43", :width => "150"}<>
        %td.info<>
          %h4<> Step seven:<br/>Change the background to black!
          %p<> Yes, just fill the layer with the background colour with black! And there you are- a lovely "Killer Nut" logo of your very own! Wow, isn't this art business easy? Well it is if you've got a genius like me guiding you!
