- content_for :sub_title do
  Episode 1 plot!
- content_for :author do
  Old Fart of the SD!!!!
- content_for :description do
  Episode 1 plot!
- content_for :sub_keywords do
  part1, episode1
- content_for :content do
  %p<> Ok, here's the initial plot line for episode 1!!! We might have to change some bits, so that it doesn't look to much like a certain "other" series, but we like what we've done so far!!!
  %p<> BTW we attempted to translate this plotline into German, then <A target="_blank" HREF="plot1_ege.txt">translated it back into English</A> to see how well we did. We're quite pleased!!!!!
  %h3<> Credits:
  %p<> Everything (so far) written by the Senior Dads!!
  %h2{ :style => "text-align:center;" }<> (Initial!) Plot line of <strong>Episode One</strong>
  .mainText<>
    %p<> Four really cool demo-coding students at <strong>Milton Central</strong> Uni (!!!) are downloading some disgusting pictures of full-motion GIF videos of <strong>Star Trek</strong> porn (Using 3D mapped pictures of the actors from digitistised from videos of the TV series, so they look like a Terry Gilliam animation out of <strong>Monty Python</strong>!!!) from <strong>alt.bin.edu.milton.central.uni.students.sociology.sex.star.trek.full.motion.gif.videos.of.star.trek.porn</strong> on the Internet, then they get into some porno chat room with some fat bint called "<strong>Horny Henrietta</strong>" (Which looks like a New York cable access channel, where all those fat bints go around singing "I Will Survive" or some other old 60s song), and they hear an "internet phone call" from some sexy sounding female calling herself "<strong>Susie Shagalot</strong>", who happens to live, amazingly enough, out of the entire Internet to choose from, just down the road from them!!
    %p<> So they go down to her "pad" (Which looks really expensive, even though she's really a cheap prostitute!!!) and get <strong>shagged senseless</strong> by her (Thus taking care of the gratuitous sex quoitent in all these "adult" dramas.) and take <strong>loads of drugs</strong> (Especially "F", so we can get a good blast of jungle music, and get the young people interested!!) and they all fall asleep because they're "stoned" and "shagged out" <em>(That joke is (c) us BTW!!!!)</em>. Then Susie pinches their wallets to get their credit cards, and uses the Internet through her "<strong>connected CD-ROM</strong>" to get loadsamoney from their bank accounts! When one of the guys wakes and sees her doing it, she disappears, just like one of the <strong>Tomorrow People</strong>!!
    %p<> The next day, our young heroes <strong>flame</strong> her on all the newsgroups, saying such soul-destroying things as <em>"she has small tits!!!!"</em> And then they search the entire Internet looking for references to people disappearing just like the Tomorrow People. They find that the construction details of a device to do such a thing was recently published in an online electronic h/p/v/a/c "<strong>hackers</strong>" type "zine" from the US called "<strong>PHAK-U</strong>!", so they read that. By a bizarre coincidence, the news section in the mag (Which is read using a special MP3 speach synthesiser, and sounds like Bill &amp; Ted out of "<strong>Waynes World</strong>"!!!) talks of a "reel kewel radical <strong>game</strong> for all you kewel nerds thats reely kewel- dude!" or something, called "<strong>Mindless Chemical Warfare</strong>", and our guys think that might be a cool thing to send away $200 for! So, they get it, and after installing an 4DFX soundcard into the reverse polarity microwave link of their Pentium fan, they run it. Cue slightly jerky video footage of John Inman from "<strong>Are You Being Served</strong>", with voice overdubbed by James Earl Jones: "<strong>Welcome to 'MINDLESS CHEMICAL WARFARE'. UK. Please choose from the following cities: London. Manchester. Birmingham. Edinburgh. Milton</strong>" ...
    %p<> TO BE CONTINUED!!!!!&nbsp;&nbsp;
    %p<> (c) the writers 1998
