- content_for :title do
  s3N10r DaDz gRaPh1Kz!!!11!!1!
- content_for :author do
  Jackson Pollock of Senior Dads
- content_for :description do
  I am art- view me.
- content_for :keywords do
  art, drawings, digital, graphics, gfx, fiks, jackson, pollock, wacky, gallery, beep-beep!!!!
- content_for :style_id, flush: true do
  gfx
=render "partials/sub_header", :rootUrl => "../default.html", :sectionTitle => "gF3ckx!!1", :sectionUrl => "."
%h1{ :align => "center" }<>
  <img src="../images/jpollock.jpg" height="75" width="144" align="right">An artistic Oddessy by<br/>Jackson Pollock
%p<>
  Howdee-doody my friends- if you've ever wondered who is responsible for all the visual splendour of this web site and the Senior Dads <a href="../images/demos/default.html">demos</a>, then look no further. Welcome to my own private gallery! <strong><em>(Cue spooky &quot;Gallery&quot; music from &quot;Vision on&quot;.)</em></strong> Feel free to look around, but please remember to take all you litter home with you!
%p<>
  I joined the crew as they were planning to launch their website. They were sorely needing a new artistic direction for their beacon in Cyberspace, so, having heard I was an &quot;arty&quot; type of person, Doddering Git asked me to join the crew over a pint of snakebite at the Rolf Harris bar at the student union. I gave the website a new graphical design angle, based around a specially designed <strong><a rel="lightbox-JP" title="My iconic Senior Dads logo!" href="../images/sad_logo.gif">Senior Dads logo</a></strong>. The guys were so impressed, they asked me to join their crew as an official member! ... And the rest is history... <strong><em>(Cue epic historical type music.)</em></strong>
%p<>
  Do you like this background BTW? I'm now learning how to use <strong>Photoshop</strong>, so expect to see further examples of this cropping up in future demos!!
%h3<>
  Now let the <span class="blink">art</span> begin...
%ul#artList<>
  - @pictures.each do |picture|
  -   caption = picture.name + "- " + picture.description
    %li<>
      %strong<>
        %a{ :rel => "lightbox-JP", :title => caption, :alt => caption, :target => "_blank", :href => picture.url }<> #{picture.name}
      = "-" + picture.description
  %li<>
    <em>Keep your eyes peeled for more graphical delights!!</em>
