!!!
%html<>
  %head<>
    %title<>= yield :title
    %meta{ :name => "Author", :content => yield(:author) }<>
    %meta{ :name => "Description", :content => yield(:description) }<>
    %meta{ :name => "KeyWords", :content => yield(:keywords) }<>
    =yield :head
    =render "partials/header_files"
  %body{ :id => yield(:style_id) }<>
    = render "partials/no_javascript"
    = yield
