- content_for :title do
  s3N10r dAdM1n!!!1!!: #{yield :sub_title}
- content_for :style_id, flush: true do
  dadmin
= render "partials/sub_header", :rootUrl => "../default.html", :sectionTitle => "dAdM1n!!!1!!", :sectionUrl => (@is_root) ? "." : "default.html"
%h1<> dAdM1n!!!1!!
= render "dadmins/menu"
= yield :main
=render :file => 'layouts/application'