- content_for :content do
  = yield(:intro_content)
  = render "partials/demo_stats", :demoInfo => @demo
  = content_for?(:main_content) ? yield(:main_content) : yield

= render :file => 'layouts/demos_basic'