@mixin linkCol($link, $visited, $hover, $active) {
  a {
    &:link {
      color: $link;
    }
    &:visited {
      color: $visited;
    }
    &:active {
      color: $active;
    }
    &:hover {
      color: $hover;
    }
  }
}

@mixin position($x: 0px, $y: 0px, $reverseX: false, $reverseY: false) {
  position: absolute;
  @if ($reverseX) { right: $x; }
  @if (not($reverseX)) { left: $x; }
  @if ($reverseY) { bottom: $y; }
  @if (not($reverseY)) { top: $y; }
}

@mixin mainTextStyle {
  color: $mainTextCol;
  font: {
    family : Times New Roman, Times, Garamond, serif;
    size: 14px;
    weight: normal;
  }
  @include linkCol( #77ff00, red, white, white );
}

@mixin preFormattedText {
  white-space: pre ;
  display: block;
  unicode-bidi: embed;
  font-family: Courier, san-serif;
}

@mixin centreBox( $containerName : ".container", $contentBox : ".content", $width : 75% ) {
  #{$containerName} {
    width: 100%;
    #{$contentBox} {
      width: $width;
      margin: {
        left:  auto;
        right: auto;
      }
    }
  }
}

@mixin boxShadow( $h:4px, $v:7px, $blur:5px, $spread:0px, $color:rgba(0,0,0,0.75) ) {
  -webkit-box-shadow: $h $v $blur $spread $color;
  -moz-box-shadow: $h $v $blur $spread $color;
  box-shadow:  $h $v $blur $spread $color;
}

@mixin SDHeader($id, $imgUrl, $width = 0, $height = 0, $top = 0, ) {
  #subHeaderWrapper {
    #subHeader {
      ##{$id} & {
        @if ($width > 0) {
          width: $width;
        }
        @if ($height > 0) {
          height: $height;
        }
        @if ($top > 0) {
          top: $top;
        }
      }
      #saggie #dox & {
        width: 80px + 350px;
      }
      #presstrail & {
          height: 200px;
      }    
  
      #sd {
        @include position(0px, 150px - 107px);
        width: 80px;
        height: 107px;
        background: {
          image: url(/images/sd_small.gif);
          repeat: no-repeat;
          position: center;
        }
        #MonoMental & {
          background-image: url(/images/demos/mono/sd_small.gif);
        }
        img {
          @include position(0px, 0px);
          width: 80px;
          height: 107px;
        }
      }
      #title {
        width: 350px;
        height: 150px;
        @include position(80px, 0px);
        background: {
          repeat: no-repeat;
          position: center;
        }
        img {
          @include position(80px, 0px);
          width: 350px;
          height: 150px;
        }
        #crew & {
          background-image: url(/images/dudes.gif);
        }
        #demos & {
          background-image: url(/images/demos.gif);
        }
        #gfx & {
          background-image: url(/images/gfx.gif);
        }
        #choons & {
          background-image: url(/images/choons.gif);
        }
        #knut & {
          top: (150px - 107px) /2;
          background-image: url(/images/features/knut/logo.jpg);
        }
        #presstrail & {
          background-image: url(/images/features/presstrail/ptrail_main.gif);
          height: 200px;
        }
        #saggie & {
          background: {
            image: url(/images/features/saggie/saggie_mini.gif);
            position: left top;
          }
          width: 170px;
          top: (150px - 107px)/2;
        }
        #MonoMental & {
          background-image: url(/images/demos/mono/demos.gif);
        }
        #features &, #dox & {
          width: 350px;
          height: 150px;
          background-image: url(/images/dox.gif);
        }
      }
    }
  }

}
