%a{ :href => "http://www.ataricomputing.com/", :target => "_blank" }<>
  %img{ :src => "/images/features/presstrail/actitle.gif", :alt => "Atari Computing!!", :title => "Atari Computing!!", :height => "61", :width => "151" }<>
