- content_for :sub_title do
  Atari Computing on Airdirt!!
- content_for :author do
  Old Fart of the Senior Dads!
- content_for :description do
  Atari Computing on Airdirt!!
- content_for :sub_keywords do
  Atari, Computing, airt, dirt, demo, airdirt
- content_for :content do
  .container<>
    #ac.content<>
      #intro.line<>
        Our old friend <strong>Chris Holland</strong>, the editor of <strong><a href="../saggie/default.html">Maggie</A></strong> gaves us this great review in the <strong>June 1997</strong> issue of <strong><a href="http://www.ataricomputing.com/">Atari Computing</A></strong> for our <strong><a href="../../demos/airdirt.html">Airdirt</A></strong>! Thanks for the write-up, mate!
      #main.line<>
        #img.box<>
          = render "features/presstrails/ac_logo"
          %img{ :src => "/images/features/presstrail/ac2.gif", :width => "390", :height => "378" }<>
        #text.box<>
          %h1<> SENIOR DADS AIR DIRT
          %h3<> <em>Rating: </em> <strong>75%</strong><BR/><em>Classification:</em> Entertainment, Freeware, Falcon only
          .mainText<>
            %p<> This rather amazing freeware production is the debut by the Senior Dads into the world of multipart demos. At first sight it offers little - a jumble of chaotic effects, caterwaul music and scrawled graphics. however, the humour behind the demo soon seeps through, and by the end you're laughing along with it - well I was! I suspect this demo is best enjoyed in company of some like-minded friends. The highlight for me was the mini punk rock revival right at the end, with animations and music which puts to shame anything else that describes itself as 'multi-tedia'! Air dirt isn't going to win many friends among those who consider demo watching a waste of time but demo fans should get the joke and appreciate their efforts. Probably one of the best designed and produced releases of the last year!
            %p.signOff<> Chris Holland
