- content_for :sub_title do
  Atariphile!
- content_for :author do
  Old Fart of the Senior Dads!
- content_for :description do
  Michael Burkley gives the SENIOR DADS a really fair review!!!
- content_for :sub_keywords do
  michael, burkley, atari, explorer, online, unabashed, Atariphile
- content_for :content do
  .container<>
    #aph.content<>
      #intro.line<>
        Thanks to one of our fans for spotting this very factually accurate review! It's by <strong>Michael Burkley</strong> the guy who writes for the old <strong>Unabashed Atariphile</strong> column in <strong>Atari Explorer Online</strong> as a sort of break inbetween the adverts!!!! He writes load of short reviews for grillions of programs, and so he had to come across our genius at least once!! What you also might not know is that he's also a <a href="http://freenet.buffalo.edu/~wnyp/cdir.html#nfalls">priest</A> at Niagra Falls!! Why they want a church under a waterfall we don't know, but it must be easy for the baptisms!! Anyway, thanks very much for the review- you could say it was a "<strong>holy</strong>" good one!!! (<strong>DOH!</strong>)
      #main.line<>
        #img.box<>
          %img{ :src => "../../images/features/presstrail/frted.gif", :width => "187", :height => "197" }<>
        #text.box<>
          .mainText<>
            %p<> STFLRMAT is the <a href="../../demos/floormat.html">ST Floormat Demo</a> by the <a href="../../default.html">Senior Dads</a>.
            %p<> This demo will run on the ST-Falcon computer with a color monitor.&nbsp; It seems that this group had a bit of an argument with the ST Floormat magazine. Apparently the magazine back in 1984(?, but that's what the docs say) took their demo and used it without giving them credit.&nbsp; Now that ST Floormat is no more, they are releasing it for themselves.&nbsp; Now, it really isn't all that wild a demo (perhaps though for being so old it is).&nbsp; It shows some screens of text and a scolling text moving over the top of the screen.