- content_for :title do
  s3N10r DaDz!!!11!!1! n % 3 % T ^ b $ 3 $ S $ t !!!!11 1!!1
- content_for :author do
  The Senior Dads!!!!
- content_for :description do
  Why are you using that crappy search engine? Why not come here and see the REAL cream of the world wide web?!?! Presented to you by the SENIOR DADS, the REAL cream of demo coders and Graphicks!!
- content_for :keywords do
  netbest
- content_for :style_id do
  netbest
.lastUpdated<>
=render "partials/sub_header", :rootUrl => "../default.html", :sectionTitle => "d0XX11!!1!", :sectionUrl => "../default.html"
%div{ :align => "center" }<>
  %p<>
    %img( src="../../images/features/netbest/netbest_logo.gif" alt="NetBest!" title="NetBest!" height="220" width="329")<>
%h1<> tHa <span class="blink">b3St</span> 0n tHa w3 bR0uGhT 2 yA bY:
%a( href="../../default.html" )<>
  %img( src="../../images/senior2.gif" alt="s3N10r dAdS!!1!!1!" title="s3N10r dAdS!!1!!1!" height="100" width="200")<>
%p{ :style => "font-size: larger;" }<> Throw away your bookmarks, this is all you need!
%p<>
  %hr<>
%h3<> What is <span class="blink">NET</span>BEST?!?!
%p<> Quite simply, <em>the best <strong>Senior Sites</strong> on the Internet!!!</em>
%p<> We've been looking thorugh the web stratosphere for some time now, and occasionally,we come across some <strong>stunning</strong> web sites- some to even rival our own unique web style!! So we thought- why not pay tribute to the unsung heroes of the net!??!?
%p<> Hold your seatbelts- let's go!
%ul<>
  <strong><a href="../../dudes.html#Old_Fart">Old Fart<strong>/a></strong>
%h2<> s3R1aL k1LlAh s1T3s!!!111!!!1
%p<> We'll start with a few sites we saw ourselves whilst surfing in the saddle of the Internet!
%h4<> New sites added!!! (27/10/97)!
%ul#listings<>
  %li<>
    .title<> <a href="http://www.hotwired.com/rgb/">Hotwired RGB Gallery<strong>/a>
    .info<>  We must be really visonary, because this is a section devoted to people who do the sort of stuff we do in our <a href="../../demos/default.html">demos<strong>/a>!!
  %li<>
    .title<> <a href="http://www.kitchenette.com/">Kitchenette Magazine!<strong>/a>
    .info<>  Our mouths were watering after visiting this site!
  %li<>
    .title<> <a href="http://www.dcs.ed.ac.uk/home/jhb/whisky/padlip.html">Whisky tasting notes<strong>/a>
    .info<>  I never knew whisky tasting was so interesting! Though I don't spit it out after tasting!!!!!
  %li<>
    .title<> <a href="http://www.icbl.hw.ac.uk/~william/irnintro.html">Internet Irn Bru and Sliced Sausage machine!<strong>/a>
    .info<>  If you thought Coke machines on the WebNet were originall then check this out! This machine actually dispenses Irn Bru and suasages. Shame we can't get to eat them!
  %li<>
    .title<> <a href="http://www.irn-bru.co.uk/">Official Irn Bru Web Site<strong>/a>
    .info<>  Talking of the famous Scottish soft-drink, check out their visionary web opus! We almost felt like giving up when we saw how brilliant it was!
  %li<>
    .title<> <a href="http://www.efr.hw.ac.uk/SDA/book1.html">Cheesemaking in Scotland<strong>/a>
    .info<>  Well, as they say, "blessed are the cheesemakers", and this is a really interesting site!
  %li<>
    .title<> <a href="http://www.panix.com/~clays/biff/">B1FF#S K3WL H0M3 PAG3!!!<strong>/a>
    .info<>  This guy was a major influence on us! Look here and see why- he knows how to web-design! Also, check out his <a href="http://shell.rmi.net/~tph/biffsig.html">signature<strong>/a> for tips on how to end your messages on Presetel!!
  %li<>
    .title<> <a href="http://www.cali.co.uk/HIGHEXP/TTT/">Tain Through Time<strong>/a>
    .info<>  CLASS. This is an online museum about a Scottish town called Tain! It's really educational and after reading this site, you want to go there and experience it's history!
  %li<>
    .title<> <a href="http://www.teamgates.com/">Team Gates<strong>/a>
    .info<>  Read more about the amazing Mr William Gates III, and his fans. If you want to know how &quot;way too cool&quot; the future of programming is going to be read here!
  %li<>
    .title<> <a href="http://www.biggar-net.co.uk/index.htm">Bigger Net<strong>/a>
    .info<>  If you thought all this talk about &quot;global village&quot; was a load of rubbish, check this out! This is a shining example of a small village in Scotland wired up to the global intranet superinfo highway pipe and beating the big boys at their own game!
  %li<>
    .title<> a href="http://www.cruel.com/">Cruel Site of the Day<strong>/a>
    .info<>  A really thought-provoking site, detailing communication problems in a corrupt Western society. If you're an intellictual, check this one out!
  %li<>
    .title<> <a href="http://www.cw.globalweb.co.uk/alford/gtm.htm">Grampian Transport Museum<strong>/a>
    .info<>  Wow! Who knew transport in the north of Scotland could be so interesting!!!! Also, check out the radical design of this site, which uses color opposites to make the text easier on the eyes!
  %li<>
    .title<> <a href="http://dspace.dial.pipex.com/town/plaza/lh48/">T.O.C.S<strong>/a>
    .info<>  No wonder this company is &quot;well established&quot;! Wait till you see the quality of their site!!!
  %li<>
    .title<> <a href="http://www.cali.co.uk/links/">Links page on Calico<strong>/a>
    .info<>  Some wisdom from the professionals. These guys design web pages for a living. Check out how their brilliance!!!
