body {
  &#features {
    background-image: url(../images/features/feat_back.jpg);
  }
  &#knut {
    font: {
      face: Comic Sans MS, sans-serif;
    }
    color: white;
    background: {
      color: #003300;
      image: url(../images/features/knut/backg.jpg);
    } 
    @include linkCol( #FFFF00, #FFFF80, #00FF40, white );
  }
  &#netbest {
    color: white;
    background: {
      color: black;
      image: url(../images/features/netbest/netbest_back.jpg);
    } 
    @include linkCol( #00ffff, #ff80ff, #ffff80, white );
  }
  &#presstrail {
    color: black;
    background: {
      color: #FFFFC0;
      image: url(/images/features/presstrail/ptrail_bkg.gif);
    } 
    @include linkCol( #0000FF, #800080, #FF00FF, white );
  }
  &#saggie {
    background: {
      color: #FBF8F4;
      image: url(../images/features/saggie/saggie_back.gif);
    } 
  }
}

#features{
  @include centreBox('#doxListContainer', '#doxList');
  #doxListContainer {
    display: block;
    #doxList {
      width: 60%;
      .item {
        clear: both;
        .logo, .text {
          margin: {
            right: 10px;
            bottom: 10px;
          }
        }
        .logo {
          text-align: center;
          width: 330px;
          margin-right: 10px;
          float: left;
        }
        .text {
          font: {
            size: x-large;
            weight: bold;
          }
        }
      }
    }
  }
}

#netbest {
  h2, h3 {
    color: #ffff80;
  }
  ul#listings {
    list-style: none;
    li {
      background: {
        image: url(/images/features/netbest/netbest_mini.gif);
        position: top left;
        repeat: no-repeat;
      }
      padding-left: 80px;
      padding-bottom: 15px;
      min-height: 100px;
    }
    .title {
      font: {
        size: larger;
        weight: bold;
      }
      //width: 50%;
      height: 100%;
      display: block;
      //float: left;
    }
    .info {
    }
  }
}

#saggie {
  .highlight {
    font-style: italic;
  }
}

#presstrail {
  h1, h2, #AtariExplorerOnline .title {
    font: {
      size: xx-large;
      family: Impact, Verdana, Arial Black, sans-serif;
      weight: bold;
    }
  }
  h2 {
    font: {
      size: x-large;
      style: italic;
    }
  }

  @include centreBox();
  .container {
    .content {
      width: 75%;
      .line {
        clear: both;
        margin-bottom: 10px;
        .box {
          width: 45%;
          float: left;
          padding: 5px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      #WhereRead, #Saggie, #AtariComputing, #AtariExplorerOnline {
        font-family: Arial Black, sans-serif;
      }
      #WhereRead {
        background-color: #ffffff;
      }
      #Saggie {
        background-color: #ccccff;
      }
      #AtariComputing {
        background-color: #ccffee;
      }
      #AtariExplorerOnline {
        background-color: #000099;
        img {
          float:left;
        }
        .innerBox {
          margin-left: 125px;
          padding: 5px;
          background-color: #ffffcc;
        }
        font-size: normal;
      }

      #introText {
        background-color: #ffffff;
        padding: 5px;
        .signOff {
          padding-left: 10px;
          font: {
            weight: bold;
            style: italic;
          }
        }
      }
    }
    #intro, #text {
      background-color: #ffffff;
      padding: 5px;
    }
    #text .mainText {
      p:first-child:first-letter {
        font-size: 3.26em;
        margin: 0 0.153em 0 0;
        float: left;
        line-height: 0.82;
        font-weight: bold;
      }
    }
    #aph {
      #main {  
        #img {
          background-color: #000099;
          width: 200px;
          text-align: center;
        }
      }
      #text .mainText {
        width: 50%;
        p:first-child {
          font-weight: bold;
        }
      }
    }
    #more {
      background-color: #000080;
    }
  }
  
  #knut {
    .mainText, .miniText {
      color: #99ff99;
      strong, b, h3, h2 {
        color: #dbffa4;
      }
    }
    
    .miniText {
      font-size: smaller;
    }
    
    #LogoIntro {
      img {
        margin-right: 5px;
        float: left;
      }
    }
    
    #LogoSteps {
      .image {
        text-align: center;
      }
      .info {
        text-align: left;
        h4::first-line {
          color: #dcffa4;
          font-weight: bold;
        }
      }
    }
  }
}

