%html<>
  %head<>
    %title<> The greatest music composer in the history of space/time!
    %meta{ :name => "Author", :content => "Dame Vera Lynn. Of the SD!!!"}<>
    %meta{ :name => "Generator", :content => "Senior Haml-TON!!!"}<>
    %meta{ :name => "Description", :content => "You are obviously a sensible person of refined tastes and values, because you have arrived at the hub of sound creation itself! DAME VERA LYNN of the SENIOR DADS!"}<>
    %meta{ :name => "KeyWords", :content => "Senior, Dads, demo, scene, demoscene, Atari, excellent, brilliant, elite, music, zik, zax, muzzax, chill, techno, modules, soundtracker, badass, yo, dame, vera, lynn, in, da, haass"}<>
    %link{ :rel => "stylesheet", :type => "text/css", :href => "../css/main.css"}<>
    %script{ :language => "Javascript", :src => "../js/website/jquery-1.11.0.min.js"}<>
    %script{ :language => "Javascript", :src => "../js/website/jquery.modern-blink.js"}<>
    %script{ :language => "Javascript", :src => "../js/website/main.js"}<>
  %body#choons<>
    %div{ :align => "center" }<>
      .noscript<>
        %noscript<>
          WHY HAVN'T YOU ENABLED JAVASCRIPT YOU DIV!!!
    .lastUpdated<>
    #subHeaderWrapper<>
      #subHeader
        #sd{    :class => "link", :title => "s33N10r", :rel => "../default.html"}<>
        #title{ :class => "link", :title => "cH00nZ!!11!!", :rel => "default.html"}<>
    %h1{ :align => "center" }<>
      <FONT SIZE=+2>THE AMAZING WORLD OF PHASE 4 STEREO</FONT>
    %div{ :align => "center" }<>
      %p<> <IMG SRC="../images/damevera.jpg" HEIGHT=72 WIDTH=144 ALIGN=ABSBOTTOM>
      %p<> By <strong>Dame Vera Lynn</strong>, musician extraodinaire, of the <strong><a href="../default.html">Senior Dads</A></strong>.
      %p<> <HR WIDTH="100%">
    %p 
      Having heard my amazing soundtracks to the Senior Dads killer demos,
      you might be wondering <em>&quot;Yes, your choons are indeed well wicked
      and amazing, but WTF are you gassing on about when you say <strong>Phase 4 Stereo</strong>?
      Sort it out!&quot;</em> OK, then since you're all asking me, I'll fill you
      in on all the details, but it'll take a bit to explain....
    %p
      You see, I don't just do the coolest modules in the computer scene,
      I also do DJ at the local student union! But don't turn up at the <strong>Krusty</strong> 
      club at <strong>Milton Central University</strong>, and expect to see me behind
      the wheels of steel pumping out tonz of hard badboy chunes, because I do
      <strong>Department S</strong>, the easy listening night! I'll get round to doing
      the hard stuff as well when I convince the dudes at the union that people
      are crying out for a person of decent taste to show 'em the way to true
      musical enlightenment.
